<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>[베리어프리] 임시 비밀번호 안내
	<title>
</head>
<body>
	<!--
	<h2>BarrierFree</h2>
	<span>베리어 프리의 서비스를 사용하기 위해서 아래의 링크를 클릭해주세요.</span>
	<br>
	<a th:href="${link}">이메일 인증 확인</a>
  -->
	<div
		style="font-family: ' Apple SD Gothic Neo ', ' sans-serif ' !important; width: 400px; height: 440px; border-top: 4px solid #EA5455; border-bottom: 4px solid #EA5455; margin: 100px auto; padding: 30px 0; box-sizing: border-box;">
		<h1
			style="margin: 0; padding: 0 5px; font-size: 28px; font-weight: 400;">
			<span style="font-size: 15px; margin: 0 0 10px 3px;\"><b>BarrierFree</b>
			</span><br /> <span style="color: #EA5455\">임시 비밀번호</span> 발급 안내입니다.
		</h1>

		<p
			style="font-size: 16px; line-height: 26px; margin-top: 50px; padding: 0 5px;">
			<b>BarrierFree</b> 안녕하세요. 회원님<br /> 임시 비밀번호를 알려드립니다.<br /> 로그인 후, <b>반드시
				새로운 비밀번호로 변경해주세요!</b>

		</p>

		<p
			style="display: inline-block; width: 210px; height: 45px; margin: 30px 5px 40px; background: #EA5455; line-height: 45px; vertical-align: middle; font-size: 16px;">
			임시 비밀번호 : ${temp}</p>

	</div>
</body>
</html>
