/* .container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

.user-img {
  position: relative;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

input {
  width: 150%
} 

.comment-content { 
  position: relative;
  float: left;
  text-align: left;
} 

.comment-time {
  float: right;
} */
