.button-top {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.button-top > #update {
  background-color: rgb(45, 64, 89);
}

.button-top > #delete {
  background-color: rgb(234, 84, 85);
}

.button-top > button {
  margin-left: 1rem;
  height: 30px;
  width: 70px;
  font-size: medium;
  color: white;
  border: 0;

  border-radius: 5px;
}

.arrow {
  float: left;
  /* margin-top: 10px; */
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.review-box {
  border: 1px black solid;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30rem;
  margin-right: 30rem;
}

.arrow {
  justify-content: start;
  padding-left: 10px;
}

.hr-comment {
  margin-left: 5%;
  margin-right: 5%;
}

.comment-input {
  width: 80%;
  font-size: 16px;
  border: none;
  background-color: rgba(224, 224, 224, 0.5);
  line-height: 30px;
  border-radius: 5px;
  padding-left: 10px;
  height: 40px;
}

.comment-input::placeholder {
  color: black;
}
.comment-input:focus {
  outline: none;
}

.button {
  margin-left: 1rem;
  height: 40px;
  width: 50px;
  font-size: medium;
  color: white;
  border: 0;
  background-color: rgb(45, 64, 89);
  border-radius: 5px;
}

.review-content {
  box-sizing: border-box;
  /* border: 1px solid; */
  width: 50%;
  margin-left: 3rem;
  text-align: left;
  margin-right: 15%;
}

.review-img {
  box-sizing: border-box;
  margin-left: 15%;
}

.review {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.review-img-size {
  width: 20rem;
  height: 30rem;
  border-radius: 30px;
}

.comment-box {
  /* border: 1px solid; */
  margin-left: 10%;
  margin-right: 10%;
}

.comment {
  text-align: left;
  padding-left: 5%;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comment-list {
  text-align: left;
}

.no-comment {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5%;
  text-align: left;
}

.text-content {
  margin-right: 10%;
  border: 1px solid;
}
