.input-search {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(222, 205, 195, 0.0);
  border-bottom: 1px solid;
  border-radius: 0px;
  width:300px;
}
.search-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: rgba(222, 205, 195, 0.2);
}

.input-search::placeholder {
  color: black;
}
.input-search:focus {
  outline: none;
}

.button-search {
  margin-left: 1rem;
  height: 40px;
  width: 50px;
  font-size: medium;
  color: white;
  border: 0;
  background-color: rgb(45, 64, 89);
  border-radius: 5px;
}

.title {
  text-align: left;
  border-bottom: 1px solid;
  box-sizing: border-box;
  display: flex;
}

.more {
  text-align: right;
  box-sizing: border-box;
  display: flex;
  margin-left:auto;
  font-size:medium;
  font-weight:lighter;
  flex-direction: column-reverse;
}

.card-list {
  margin-left: 24px;
  margin-right: 24px;
}