.selete-box {
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: rgba(222, 205, 195, 0.2);
}

.button-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-list > #search {
  background-color: rgb(45, 64, 89);
  margin-right: 10px;
  width: 80px;
}

.button-list > #reset {
  background-color: rgb(234, 84, 85);
  margin-left: 10px;
  width: 80px;
}


