/* .box {
  margin-left: 20rem;
  margin-right: 20rem;
}  

/* .table-row {
  display: flex;
  justify-content: center;
  
}

.table-col {
  align-items: center;
  border: 1px solid white;
  width: 260px;
  height: 30px;
  background-color: rgb(234, 84, 85);
  color: white;
} */
