.MuiImageList-root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
}
.MuiImageList-root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
